<h2>Player Comparison</h2>
<div style="display:flex; gap:1rem; margin-bottom:1rem;">
  <select #sel1 class="form-select"
          (change)="selectPlayer(sel1.value, 1)">
    <option *ngFor="let p of comparisons" [value]="p.player">
      {{ p.player }}
    </option>
  </select>

  <select #sel2 class="form-select"
          (change)="selectPlayer(sel2.value, 2)">
    <option *ngFor="let p of comparisons" [value]="p.player">
      {{ p.player }}
    </option>
  </select>
</div>



<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Stat</th>
      <th>{{ selected1?.player }}</th>
      <th>{{ selected2?.player }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Stat A</td>
      <td>{{ selected1?.statA }}</td>
      <td>{{ selected2?.statA }}</td>
    </tr>
    <tr>
      <td>Stat B</td>
      <td>{{ selected1?.statB }}</td>
      <td>{{ selected2?.statB }}</td>
    </tr>
  </tbody>
</table>

