<h2 class="mb-3">Player Comparison</h2>

<div class="row mb-3">
  <div class="col">
    <select #player1 class="form-select" (change)="selectPlayer(player1.value, 1)">
      <option *ngFor="let player of players">{{ player.name }}</option>
    </select>
  </div>
  <div class="col">
    <select #player2 class="form-select" (change)="selectPlayer(player2.value, 2)">
      <option *ngFor="let player of players">{{ player.name }}</option>
    </select>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Stat</th>
      <th>{{ selectedPlayer1.name }}</th>
      <th>{{ selectedPlayer2.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Goals</td>
      <td>{{ selectedPlayer1.goals }}</td>
      <td>{{ selectedPlayer2.goals }}</td>
    </tr>
    <tr>
      <td>Assists</td>
      <td>{{ selectedPlayer1.assists }}</td>
      <td>{{ selectedPlayer2.assists }}</td>
    </tr>
    <tr>
      <td>Appearances</td>
      <td>{{ selectedPlayer1.appearances }}</td>
      <td>{{ selectedPlayer2.appearances }}</td>
    </tr>
  </tbody>
</table>
