<!-- src/app/pages/league-standings/league-standings.component.html -->
<h2 class="mb-3">League Standings</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Played</th><th>Team</th><th>Won</th><th>Drawn</th><th>Lost</th><th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of standings" >
      <!-- 只有 team 不为空才渲染这一行 -->
      <ng-container *ngIf="s.team">
        <td>{{ s.played }}</td>
        <td>{{ s.team   }}</td>
        <td>{{ s.won    }}</td>
        <td>{{ s.drawn  }}</td>
        <td>{{ s.lost   }}</td>
        <td>{{ s.points }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
