<h2 class="mb-3">League Standings</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Wins</th>
      <th>Draws</th>
      <th>Losses</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of standings">
      <td>{{ team.rank }}</td>
      <td>{{ team.team }}</td>
      <td>{{ team.wins }}</td>
      <td>{{ team.draws }}</td>
      <td>{{ team.losses }}</td>
      <td>{{ team.points }}</td>
    </tr>
  </tbody>
</table>
